/* BANNER */
#banner-box {
    display: grid;
    text-align: center;
    padding: calc(30rem/16);
    border-bottom: calc(1rem/16) solid #737070;
    background-color: #081c3c;
    color: white;
    margin-bottom: 30px;

}

.banner-text h1 {
    font-size: calc(40rem/16);

}


#interface-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Wrap items on smaller screens */
    padding-bottom: 130px;
}

.items-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack children vertically */
    flex: 1; /* Equal flex basis for each container */
    text-align: center;
    background-color: #FFD580;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px; /* Add some margin between boxes */
    min-height: 200px; /* Set a minimum height */
   
}

.items-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 black;
}


#product-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 130px;

}

@media (max-width:1000px) {
    .items-container {
        width: 100%; /* Full width on smaller screens */
        padding: 0;
    }
    .items-container img {
        width: 80%;
        height: 80%;
    }
}

.scrollable-div {
    max-height: 400px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
}
