/* BANNER */
#banner-box {
    display: grid;
    text-align: center;
    padding: calc(30rem/16);
    border-bottom: calc(1rem/16) solid #737070;
    background-color: #081c3c;
    /* background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%); */
    color: white;

}

#banner-box h2 {
    font-size: calc(20rem/16);

}

.banner-text h1 {
    font-size: calc(80rem/16);

}

/* SECTION 1 */
form {
    display: block;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;

}

input,
textarea {
    width: 100%;
    padding: calc(15rem/16);
    margin-top: 10px;
    margin-bottom: calc(30rem/16);
    border-radius: 0.5rem;
    border: calc(4rem/16) solid #f3f1ef;

}

textarea {
    height: 13rem;

}

.input-box1 {
    display: flex;
    justify-content: space-between;

}

.input-subbox {
    width: 40%;

}

.input-box1 span,
.input-box span {
    font-size: calc(20rem/16);

}

.button-box {
    display: flex;
    justify-content: center;
    padding-left: 20px;

}

button {
    background-color: white;
    color: black;
    border: calc(4rem/16) solid #f3f1ef;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    height: 3.5rem;
    font-size: calc(18rem/16);

}

button:hover {
    color: white;
    background-color: #081c3c;
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;

}

/* SECTION 2 */
.contact-info {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 60px;
    margin-top: auto;
    text-align: center;

}

.contact-box2 {
    margin-left: 150px;
    margin-right: 150px;

}

@media (max-width: 1156px) {
    .contact-info {
        margin-left: 0;

    }

}

@media (max-width: 898px) {
    form {
        margin-right: 18px;
        margin-left: -20px;

     }

     .contact-info {
        margin-top: auto;
        flex-direction: column;
        margin-right: 20px;

     }

     .contact-box2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;

     }
 
}