.mainimage{
    background-image:url("../img/p5.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-size: cover;
}
.imgtxt{
    padding-top: 300px;
    text-align: center;
    font-size: 120px;
    color: white;
}
.textbasic{
    font-size: 70px;
    padding-bottom: 20px;
}
.container{
    background-color: #081c3c;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.rightpic{
    align-items: center;
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
}

.leftpic{
    min-height: 0px;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}
.txtpart{
    text-align: center;
    padding-left: 40px;
    color: white;
}


button{
    background-color: white;
    border: 10px white;
    border-radius: 100vw;
    font-size: 50px;    
}
button:hover{
    background-color: #659DBD;
}
a.noline{
    text-decoration: none;
    display: block;
    padding: 20px 40px;
    color: black;
}
@media only screen and (min-width: 1200px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .mainimage{
        min-height: 800px;
    }
    .leftpic{
        display: flex;
    }
    .rightpic{
        display: flex;
    }    
    }