.mainimage{
    background-image:url("../img/p5.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
}
.imgtxt{
    padding-top: 250px;
    text-align: center;
    font-size: 120px;
    color: white;
}
.textbasic{
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.container{
    background-color: #081c3c;
}
.txtpart{
    text-align: center;
    padding-left: 40px;
    color: white;
    padding-bottom: 200px;
}
button{
    background-color: white;
    border: 10px white;
    border-radius: 100vw;
    font-size: 50px;
}
button:hover{
    background-color: #659DBD;
}
a.noline{
    text-decoration: none;
    display: block;
    padding: 20px 40px;
    color: black;
}
.rightpic img{
    height: auto;
    width: 100%;
}
.leftpic img{
    height: auto;
    width: 100%;
}
@media only screen and (min-width: 1200px) {
    .mainimage{
        min-height: 800px;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .leftpic{
        min-height: 100%;
        min-width: auto;
    }
    .rightpic{
        min-height: 100%;
        min-width: auto;
    }
    .imgtxt{
        font-size: 120px;
    }
    .textbasic{
        font-size: 70px;
        padding-bottom: 20px;
    }
}
