#herosection{
    display: grid;
    text-align: center;
    color: black;
    margin-top: 60px;
    padding: calc(30rem/16);
}

#herosection h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:  calc(40rem/16);
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; 
    padding-bottom: 130px;
}
.login-box {
    border: calc(4rem/16) solid #f3f1ef;
    width: fit-content;
}

.login-box h1 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.input-group {
    display: grid;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.input-group label {
    margin-bottom: 8px;
}

.input-group input {
    height:25px;
}

.rememberme {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.rememberme span {
    font-style: italic;
    padding-left: 4px;
    text-align: center;
    font-size: 80%;
 }
.button-group {
    display: grid;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    height: 50px;

}

.button-group button {
    background: #081c3c;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    transition: transform 0.2s ease-in-out; 
}

.button-group button:hover {
    cursor: pointer;
    transform: scale(1.1); 
}


.button-group2 {
    display: grid;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 30px;
    text-align: center;

}
.button-group2 a{
    text-decoration: none;
    color: blue;

}

.button-group2:hover {
    background-color: #f3f1ef;
    border-radius: 15px;

}

@media (max-width: 1156px) {
    .signup-box {
        width: fit-content;
    }

}